//hero css
body,html{
  min-height: 100%;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.brand-custom{
  font-family: 'Roboto Slab', serif; 
}
.hero-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-img.jpg");;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-content{
  text-align: center;
  // position: absolute;
  // top : 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  color: white;
  h1{
    font-family: 'Roboto Slab', serif; 
  }
}
.link-group{
  margin-top: 100px; 
  margin-bottom: 50px; 
  a {
    text-decoration: none;
    img {
      width: 60px;
      margin: 20px 15px;
    }
  }
}
.profile-img{
  border: 3px solid #fff;
  border-radius: 50%;
}